/* General Styles */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;       
}


@media only screen and (max-width: 75em) {
    html {
        font-size: 50%;
    }
}




input {
    font-size: 1.4rem;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Lato, Arial, sans-serif;
}

h1 {
    margin-bottom: 1.6rem;
}

.main-title {
    display: none;
}

label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: .8rem;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 1.2rem;
    outline: none;
}

button {
    cursor: pointer;
    padding: 1.2rem 3rem;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 1.6rem;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.container {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    color: #fff;
    font-size: 1.6rem;
}

.container__content {
    width: fit-content;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 75em) {
    .container__content {
    
        height: 75%;
    }
}

.logo {
    width: 35rem;
}

.subheading {
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
}

@media only screen and (max-width: 37.5em) {
    .subheading {
        font-size: 2rem;
    }
}

.centered-form__box {
    padding: 2.4rem;
    width: fit-content;
    height: fit-content;
}

.form-group {

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.centered-form button {
    width: 20rem;
    border-radius: 0 25rem 25rem 0;
    
}



.centered-form input {
    
    width: 100%;
}

.username {
    margin-right: 3rem;
    border-radius: 25rem;
    
}

.chat-room {
    border-radius: 25rem 0 0 25rem;
}

.computer-container {
    height: auto;
    width: auto;
    position: relative;
}

.animations {
    width: 91.5%;
    height: 63%;
    top: 6%;
    left: 4%;
    position: absolute;
    z-index: 1;
    
    padding: 4rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-chat {
    width: 40%;
}


.user-chat-2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    
}

#chat-bubble {
    transform-origin: center;
    animation: chatbubble 2s ease-in-out infinite;
}




@keyframes chatbubble {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.sc-computer {
    width: 80rem;
}

@media only screen and (max-width: 37.5em) {
    .sc-computer {
        width: 55rem;
        margin-bottom: 1rem;
    }

    .form-group {
        
        flex-direction: column;
        height: 20rem;
        width: 30rem;
    }

    .username {
        margin: 0;
    }

    .chat-room {
        border-radius: 25rem;
    }

    .centered-form button {
        width: 20rem;
        border-radius: 25rem;
    }
}

/* Chat Page Layout */

.chat-container {
    font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
    .chat-container {
        font-size: 2.3rem;
    }
}

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 22.5rem;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    
}

.chat__messages {
    flex-grow: 1;
    padding: 2.4rem 2.4rem 0 2.4rem;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 1.6rem   
}

.message__name {
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: .8rem;
}

.message__meta {
    color: #777;
    font-size: 1.4rem;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 1.6rem;
    padding: 2.4rem;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 1.6rem;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 1.2rem;
    
    flex-grow: 1;

    border-radius: 25rem 0 0 25rem;
}

.send-btn {
    font-size: 1.4rem;
    border-radius: 0 25rem 25rem 0;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 2.2rem;
    background: #2c2f3a;
    padding: 2.4rem;   
}

.list-title {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 4px;
    padding: 1.2rem 2.4rem 0 2.4rem;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 1.2rem 2.4rem 0 2.4rem;
}